* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(img/fondo2.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}


.encabezado {
    width: 60%;
    height: 150px;
    margin: 20px;
    padding: 10px;
}

.logo {
    width: 120px;
    height: 120px;
}

.seccion1 {
    padding: 10px;
    width: 100%;
    height: 790px;
 
}

.contenedorcajatexto{
    background: transparent;
    border: 2px solid rgba(255, 255,  255, 0.5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    width: 100%;
    height: 500px;

}

.cajatexto {
    margin-top: 30px;
    margin-left: 25px;
    width: 80%;
    height: 85%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    resize: none;
}

.alerta {
    position: absolute;
    top: 730px;
    display: flex;
    color: #fff;
    margin-left: 20px;
}

.imgalert{
    height: 20px;
    width: 20px;
}

.contenedor-botones {
    width: 100%;
    top: 750px;
    height: 80px;
    padding-top: 15px;
    
}

.btn-encriptar {
    width: 100%;
    height: 60px;
    background-color: #53ac59;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    cursor: pointer; 
    border: none;
}


.btn-encriptar:hover{
    background: #3b8952;
}

.btn-desencriptar {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color:#53ac59;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
    margin-bottom: 5px;
}

.btn-desencriptar:hover{
    background: #3b8952;
}



.seccion2 {
    position: relative;
    width: 100%;
    height: 585px;
    padding-right: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}

.contenedormuneco {
    margin-top: 50px;
    box-sizing: border-box;
    padding-top: 30px;
}

.muneco {
    width: 100%;
}

.muneco2 {
    width: 45%;
    margin-left: 120px; 
}

.muneco3 {
    width: 75%;
    margin-left: 38px;
}

.contenedor-parrafo {
    position: absolute;
    box-sizing: border-box;
    top: 300px;
    margin-right: 5%;
    width: 92%;
    text-align: center;
}

.contenedor-parrafo h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
}

.contenedor-parrafo p {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.contenedor-copiar {
    display: flex;
    position: absolute;
    top: 480px;
    width: 92%;
}

.btn-copiar {
    width: 218px;
    height: 50px;
    border-radius: 10px;
    background-color: #53ac59;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    visibility: hidden;
}

.btn-copiar:hover {
    background: #3b8952;
}

.contenedor-resultado {
    position: absolute;
    bottom: 110px;
    width: 93%;
    height: 420px;
    padding: 0;
    box-sizing: border-box;
    padding: 10px;
}

.contenedor-resultado p {
    color: #fff;
    font-size: 20px;
}

footer {
    width: 100%;
    height: 100px;
}

.copyright {
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.git {
    margin-left: 50%;
}

.git:hover{
    color: #fff;
    opacity: 0.6;
}

.ocultar {
    display: none;
}